include Cargo.toml
include Cargo.lock
include pyproject.toml
include README.md
include LICENSE
recursive-include crates *
recursive-include python *
recursive-include scripts *
recursive-include docs *
